/* Reset default */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  background-color: #fff;
  font-size: 15px;
  color: #333;

  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
}

._container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

._title {
  font-size: 2.15rem;
  font-weight: 900;
  line-height: 1.8rem;
  text-transform: uppercase;
}

._subtitle {
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.32rem;
}

._midtext {
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.8rem;
  color: #777;

  padding: 0 0 0.5rem 0;
}

._text {
  font-size: 1.2rem;
  color: #777;
  line-height: 1.8rem;
}

._textbg {
  position: absolute;
  top: 0;
  left: 0;
  color: #f8f8f8;
  font-size: 55rem;
  font-weight: 900;
  letter-spacing: -1.6rem;
  line-height: 0.9;
  height: 100%;
  width: 100%;
  z-index: 1;
}

._date {
  font-size: 4.25rem;
  font-weight: 900;
  line-height: 5rem;
}

._icon:hover {
  transform: translateY(-5px);
  transition: 300ms linear;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
}
.header__container {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.logo__name {
  font-size: 1.85rem;
  font-weight: 900;
  color: #fff;
}

.logo__name:visited {
  color: #fff;
}
.logo__position {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.35rem;
  color: #fff;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social__item {
  height: 30px;
  width: 30px;
}

.social__item img {
  width: 100%;
  height: auto;
}

.header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__item {
  display: flex;
}
.contacts__pic {
  align-self: center;
  font-size: 1.25rem;
}

.contacts__pic:hover {
  text-decoration: underline;
}
.contacts__item:first-child {
  margin-right: 2rem;
}

.contacts__img {
  display: block;
  margin-right: 0.73rem;
}

.mobile__menu.active {
  transform: translateX(0);
  transition: 500ms;
}

.mobile__menu {
  height: 100vh;
  width: 100vw;
  color: #fff;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: 500ms;
  font-size: 2rem;
  z-index: 7;
  background-color: #222;
  opacity: 0.95;
  overflow: auto;
}

.mobile__item {
  text-align: end;
  padding: 1.5rem 1rem 0 0;
  color: #fff;
  letter-spacing: 0.5rem;
}

.mobile__item:hover {
  text-decoration: underline;
}

.header__burger {
  display: none;
}

@media (max-width: 1023px) {
  html,
  body {
    font-size: 13px;
  }

  .header__container {
    padding: 1.2rem 1rem;
  }

  .header__contacts {
    flex-direction: column;
    align-items: end;
  }
  .contacts__item:first-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .header__social {
    display: none;
  }

  html,
  body {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  body.lock {
    overflow: hidden;
  }

  .header__contacts {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 1.8rem;
    height: 2rem;
  }

  .burger {
    display: block;
    position: absolute;
    top: calc(50% - 0.1rem);
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    cursor: pointer;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
  }

  .burger::before {
    top: -0.7rem;
  }

  .burger::after {
    top: 0.7rem;
  }

  .burger.active::before {
    transform: rotate(45deg);
    top: 0;
  }

  .burger.active::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .burger.active {
    height: 0;
  }
}

/* Main-block */

.page__main-block {
  position: relative;
  background-color: #222;
  height: 100vh;
}

.main-block__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-block__content {
  position: relative;
  z-index: 3;
  max-width: 45rem;
}

.main-block__photo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.main-block__title {
  text-align: start;
  font-family: "Roboto";
  font-size: 7.35rem;
  font-weight: 800;

  color: aliceblue;
  line-height: 7.35rem;
}
.main-block__descr {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #fff;
}

.main-block__scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
  transition: all linear 300ms;
  cursor: pointer;
}

.main-block__scroll:hover {
  bottom: 0;
}

@media (max-width: 1279px) {
  .main-block__container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.7;
  }
}

@media (max-width: 1023px) {
  .main-block__photo {
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }
}

@media (max-width: 767px) {
  .main-block__container {
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -0.1rem;
  }

  .main-block__descr {
    font-size: 1rem;
  }
}

@media (max-height: 479px) {
  .main-block__title {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.1rem;
  }
  .main-block__photo {
    width: 100%;
    height: auto;
  }
}

/* skills */

.skills__container {
  display: flex;
  padding: 11.6rem 11rem 0 11rem;
  justify-content: space-between;
}

.progressbars__title {
  margin: 0 0 7.3rem 0;
}
.bar__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.bar__item:last-child {
  margin-bottom: 0;
}
.bar__title {
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.bar__progress {
  position: relative;
  width: 32.8rem;
  height: 3px;
  background-color: #ccc;
}

.bar__progress span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #ff5b5b;
  height: 100%;
  width: 50%;
}

.awards__title {
  margin: 0 0 5.5rem 0;
}
.awards__item {
  max-width: 23.5rem;

  margin: 0 0 1.3rem 0;
}

.awards__date {
  display: block;
}

.awards__prize {
  display: block;
}
@media (max-width: 1279px) {
  .skills__container {
    padding: 10rem 8rem 0 8rem;
  }
  ._title {
    font-size: 1.8rem;
  }
  .bar__progress {
    width: 23rem;
  }

  ._date {
    font-size: 3.5rem;
  }
}

@media (max-width: 1023px) {
  .skills__container {
    padding: 9rem 4rem 0 4rem;
  }

  .progressbars__title {
    margin: 0 0 4rem 0;
  }

  .bar__progress {
    width: 22rem;
  }

  .awards__title {
    margin: 0 0 2rem 0;
  }
  ._date {
    font-size: 3rem;
  }

  .awards__item {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .skills__container {
    flex-wrap: wrap;

    padding: 7rem 2rem 0 2rem;
  }

  .skills__progressbars {
    flex: 1 0 100%;
    margin-bottom: 5rem;
    align-self: center;
  }

  .skills__awards {
    flex: 1 0 100%;
  }

  .awards__item {
    text-align: center;
  }

  ._title {
    text-align: center;
  }
  .bar__title {
    text-align: center;
  }
  .bar__progress {
    margin: 0 auto;
  }
  .awards__item {
    margin: 0 auto;
  }
}

@media (max-width: 374px) {
  .bar__progress {
    width: 18rem;
  }
}

/* Expertise */

.expertise__container {
  padding-top: 10rem;
  position: relative;
  z-index: 3;
}

.page__expertise {
  position: relative;
}

.expertise__title {
  text-align: center;
  margin-bottom: 6.6rem;
}
.expertise__items {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
}

.expertise__item {
  position: relative;
  z-index: 1;
}
.expertise__count {
  font-size: 15.3rem;
  letter-spacing: -1.5rem;
  line-height: 11.1rem;
}
.expertise__text {
  position: absolute;
  top: calc(50% - 1.5rem);
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2.5rem;
  background-color: #fff;
  z-index: 3;
}

@media (max-width: 1279px) {
  ._textbg {
    font-size: 50rem;
  }
}

@media (max-width: 1023px) {
  .expertise__container {
    padding-top: 8rem;
  }
  .expertise__count {
    font-size: 12rem;
  }

  .expertise__text {
    font-size: 1rem;
    line-height: 2rem;
  }

  ._textbg {
    font-size: 45rem;
  }
}

@media (max-width: 767px) {
  .expertise__item {
    align-self: center;
    flex-basis: 100%;

    margin-bottom: 2rem;
  }

  .expertise__item:last-child {
    margin-bottom: 0;
  }

  .expertise__items {
    flex-direction: column;
  }

  .expertise__title {
    margin-bottom: 4rem;
  }

  ._textbg {
    font-size: 40rem;
  }
}

@media (max-width: 479px) {
  .expertise__count {
    font-size: 10rem;
  }

  .expertise__text {
    line-height: 1.5rem;
  }
}

/* Work */
.page__work {
  position: relative;
  z-index: 3;
  padding-top: 10rem;
}
.work__header {
  text-align: center;
  max-width: 38.6rem;
  margin: 0 auto;
  padding-bottom: 7.8rem;
}

.work__title {
  font-size: 3.2rem;
  line-height: 3.7rem;
  font-weight: 900;
  padding: 3rem 0;
}

.work__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.1rem;
  grid-row-gap: 2rem;
  margin: 0 0.5rem;
  overflow: hidden;
}
.work__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.work__image {
  position: relative;
  height: 300px;
  border: 2px solid #333;
}

.work__image_img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work__extension {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  opacity: 0;

  transition: all 300ms linear;
}
.onShowing {
  opacity: 1;
}
.work__extension img {
  height: 50px;
  width: 50px;
}

.work__sign {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;

  margin-top: 1.5rem;
}

@media (max-width: 1023px) {
  .work__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .work__header {
    padding-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .page__work {
    padding-top: 8rem;
  }
  .work__items {
    grid-template-columns: 1fr;
  }
  .work__header {
    padding-bottom: 4rem;
  }
  .work__title {
    line-height: 3rem;
    font-size: 2.7rem;
    padding: 2rem 0;
  }
}

/* Education */

.page__education {
  position: relative;
  z-index: 3;
  padding-top: 8rem;
  padding-bottom: 14rem;
}

.education__container {
  display: flex;
  justify-content: space-between;
  padding: 0 11rem;
}

.education__column {
  flex-basis: 50%;
}
.education__title {
  margin-bottom: 3.3rem;
}

.education__item {
  padding-top: 4.6rem;
}

.education__work {
  display: block;
  margin: 1rem 0;
}

.education__years {
  display: block;
}

@media (max-width: 1279px) {
  .education__container {
    padding: 0 7rem 0 7rem;
  }
  .education__title {
    margin-bottom: 2rem;
  }

  .page__education {
    padding-bottom: 8rem;
  }
}

@media (max-width: 1024px) {
  .education__item {
    padding-top: 2.5rem;
  }
}

@media (max-width: 767px) {
  .education__container {
    flex-wrap: wrap;
  }
  .education__column {
    flex-basis: 100%;
    text-align: center;
  }
  .education__title {
    margin-bottom: 0rem;
  }

  .education__column:last-child {
    margin-top: 5rem;
  }
  ._date {
    font-size: 2.2rem;
  }
}

/* Footer */
.page__footer {
  background-color: #222;
}

.footer__container {
  padding: 0 7rem;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0 8rem 0;
}

.footer__column {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
}

.footer__list {
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.footer__info {
  align-items: flex-end;
}

.footer__title {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 900;
}

.footer__title span {
  text-decoration: underline;
}
.footer__title a {
  cursor: pointer;
}

.footer__text {
  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.8rem;
  margin-top: 2rem;
}

.contacts__string {
  line-height: 2rem;
  color: #ccc;
  cursor: pointer;
}

.contacts__string:hover {
  text-decoration: underline;
  /* color: #e54646; */
}

.contacts__email {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2rem;
}

.contacts__email:hover {
  text-decoration: underline;
}

.contacts__address {
  text-align: end;
  color: #fff;
  line-height: 2rem;
}
.contacts__phone {
  color: #fff;
  line-height: 2rem;
}

.contacts__phone:hover {
  text-decoration: underline;
}

.contacts__list {
  margin-top: 1.5rem;
}

._social {
  display: inline-block;
}

.contacts__copyright {
  display: block;
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 6rem;
}

@media (max-width: 1279px) {
  .footer__title {
    font-size: 2.9rem;
  }

  .footer__text {
    font-size: 1rem;
  }

  .footer__header {
    padding: 8rem 0 6rem 0;
  }
}

@media (max-width: 1023px) {
  .footer__header {
    flex-wrap: wrap;
  }

  .footer__text {
    margin-top: 1rem;
    text-align: center;
  }

  .footer__list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .footer__list {
    flex-direction: row;
    justify-content: start;
    gap: 40px;
  }

  .footer__info {
    align-items: flex-end;
  }

  .footer__column:first-child {
    flex-basis: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }

  .footer__content {
    max-width: none;
  }

  .footer__connect {
    margin: 0 auto;
  }

  .footer__title {
    text-align: center;
    font-size: 3.2rem;
  }

  .footer__contacts {
    margin: 7rem 0 5rem 0;
  }
}

@media (max-width: 767px) {
  .footer__container {
    padding: 0 5rem;
  }

  ._social img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .footer__container {
    padding: 0 15px;
  }

  .footer__title {
    font-size: 2.5rem;
  }
  .footer__list {
    display: none;
  }

  .footer__info {
    flex-basis: 100%;
    align-items: center;
  }
}
